* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  /* Refactor later w/o !important.  
  Product pages get 15px padding-right when 'Add To Cart' is clicked */
  padding-right: 0 !important;
}
